<div class="main-container">
    <h1>Add Review Details</h1>

<form [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="userId">User Id:</label>
        <input type="number" id="userId" formControlName="userId" readonly>
    </div>

    <div class="form-group">
        <label for="subject">Resort Name:</label>
        <input type="text" id="subject" formControlName="subject">
        <div *ngIf="addReviewForm.get('subject').hasError('required') && addReviewForm.get('subject').touched"
             class="error-message">
            *Subject is required.
        </div>
    </div>

    <div class="form-group">
        <label for="body">Feedback comments:</label>
        <textarea id="body" formControlName="body"></textarea>
        <div *ngIf="addReviewForm.get('body').hasError('required') && addReviewForm.get('body').touched"
             class="error-message">
            *Body is required.
        </div>
    </div>

    <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" formControlName="rating" min="1" max="5">
        <div *ngIf="addReviewForm.get('rating').hasError('required') && addReviewForm.get('rating').touched"
             class="error-message">
            *Rating is required.
        </div>
    </div>

    <div class="form-group">
        <label for="dateCreated">Date Created:</label>
        <input type="date" id="dateCreated" formControlName="dateCreated" readonly>
    </div>

    <div *ngIf="errorMessage" class="error-message">
        *{{ errorMessage }}
    </div>

    <div class="add-btn">
        <button type="submit">Submit</button>
    </div>

</form>

</div>
